package templates

import (
    "github.com/UT-BT/auth/internal/auth/models"
    "github.com/UT-BT/auth/internal/templates/components"
)


templ Index(user *models.User) {
    if user == nil {
        @Base("Login") {
            @components.Login()
        }
    } else {
        @Base("Logged In (" + user.Username + ")") {
            @components.UserProfile(user)
            @components.InstructionModal()
        }
    }
}